<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="css/404.css" th:href="@{~/css/404.css}" rel="stylesheet" type="text/css">
    <title>Codecool Event Board</title>
</head>
<body>
<div class="container">
    <div class="header">
        <p class="code">500</p>
        <p>Something went wrong with database</p>
        <a href="javascript:history.go(-1)">Take me back</a>
    </div>
</div>
<div th:include="/layout/footer :: copy"></div>
</body>
</html>