<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head >
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="css/style.css" th:href="@{~/css/style.css}" rel="stylesheet" type="text/css">
    <title>Event details</title>
</head>
<body>
<div class="header">
    <h1>Codecool <span>Event</span> Board</h1>
</div>
<div class="container" th:each="event: ${eventDetails}">
    <div class="event-details" th:object="${event}">
        <p class="name" th:text="*{name}">Name</p>
        <a th:href="@{*{link}}"><p th:text="*{link}">Link</p></a>
        <p class="desc" th:text="*{description}">Description</p>
    </div>
</div>
<div th:include="/layout/footer :: copy"></div>
</body>
</html>