<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="css/style.css" th:href="@{~/css/style.css}" rel="stylesheet" type="text/css">
    <title>Codecool Event Board</title>
</head>
<body>
<div class="header">
    <h1>Codecool <span>Event</span> Board</h1>
    <a href="#" th:href="@{add}">Add event</a>
</div>
<div class="container">
    <div class="event-table">
        <table>
            <thead>
                <tr>
                    <td>Name</td>
                    <td>Date</td>
                    <td>Time</td>
                    <td>Category</td>
                    <td>Action</td>
                </tr>
            </thead>
            <tbody th:each="event : ${eventContainer}">
                <tr th:object="${event}">
                    <td><a href="#" th:href="@{event/{id}/details(id=*{id})}"><span th:text="*{name}">Event</span></a></td>
                    <td th:text="${#dates.format(event.getDate, 'dd.MM.yyyy')}">12.12.2015</td>
                    <td th:text="${#dates.format(event.getDate, 'HH:mm')}">18:00</td>
                    <td th:text="*{category.getName}">Category</td>
                    <td><a href="#" th:href="@{event/{id}/edit(id=*{id})}">Edit</a></td>
                    <td><a href="#" th:href="@{event/{id}/delete(id=*{id})}">Delete</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div th:include="/layout/footer :: copy"></div>
</body>
</html>