<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="css/style.css" th:href="@{~/css/style.css}" rel="stylesheet" type="text/css">
    <title>Codecool Event Board</title>
</head>
<body>
<div class="container">
    <div class="index-header">
        <a href="#" th:href="@{https://www.codecool.pl/}">
            <img th:src="@{~/images/CodecoolLogo.png}" th:width="120px" th:height="120px" alt="Codecool Logo">
        </a>
        <h1>Codecool <span>Event</span> Board</h1>
        <a href="#" th:href="@{events}">Take me to events</a>
    </div>
</div>
<div th:include="/layout/footer :: copy"></div>
</body>
</html>