@font-face {
    font-family: KGSecondChancesSketch;
    src: url("../fonts/KGSecondChancesSketch.ttf");
    font-weight: normal;
}
@font-face {
    font-family: KGBrokenVessels;
    src: url("../fonts/KGBrokenVesselsSketch.ttf");
    font-weight: normal;
}
@font-face {
    font-family: Chalk;
    src: url("../fonts/DJB Chalk It Up.ttf");
    font-weight: normal;
}

body {
    background-image: url("../images/chalkboard-or-blackboard.jpg");
    background-position: inherit;
    background-size: cover;
}

h1 {
    font-family: KGSecondChancesSketch;
    font-weight: 100;
    color: whitesmoke;
    font-size: 60px;
    opacity: 0.6;
}

h1 span {
    font-family: KGBrokenVessels;
}

.index-header {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    margin: 80px 0 0 0;
}

.index-header img {
    margin: 0 auto 0 auto;
}

.index-header a {
    text-align: center;
    text-decoration: none;
    font-family: Chalk;
    font-size: 40px;
    color: coral;
    opacity: 0.7;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
}

.header a {
    font-family: Chalk;
    font-size: 30px;
    color: darkcyan;
    text-decoration: none;
}

.container {
    display: flex;
    justify-content: space-around;
    margin: 0 auto 0 auto;
    max-width: 70%;
}

.event-table th, .event-table td {
    padding: 10px 15px 10px 15px;
    opacity: 0.6;
}

.event-table table {
    font-family: Chalk;
    color: whitesmoke;
    font-size: 35px;
}

.event-table thead {
    color: #72adff;
    font-size: 35px;
    opacity: 0.8;
}

.event-table tbody {
    font-size: 25px;
}

.event-table table a {
    color: coral;
    text-decoration: none;
}

.event-details {
    min-width: 500px;
}

.event-details .details-head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}

.details-head p.date-time {
    font-family: Chalk;
    font-size: 30px;
    color: #72adff;
    opacity: 0.8;
}

.details-head p.name {
    font-family: Chalk;
    font-size: 40px;
    color: coral;
    opacity: 0.6;
}

.event-details p.desc {
    font-family: Chalk;
    font-size: 25px;
    color: whitesmoke;
    opacity: 0.6;
}

.event-details a {
    font-family: Chalk;
    font-size: 25px;
    color: darkcyan;
    text-decoration: none;
    opacity: 0.6;
}

.panel-body {
    display: flex;
    justify-content: flex-start;
    align-self: flex-end;
    font-family: KGBrokenVessels;
    color: #ababab;
}

.add-event input, textarea, select, option{
    font-family: Chalk;
    font-size: 25px;
    background: transparent;
    color: whitesmoke;
    border: none;
    opacity: 0.8;
    display: flex;
    align-items: center;
    width: 480px;
    text-align: center;
    padding: 10px;
    resize: vertical;
}

.add-event select, option {
    color: #72adff;
}

.add-event table {
    border: 1px dashed rgba(245, 245, 245, 0.5);
}

.buttons {
    display: flex;
    flex-direction: row;
    flex: 1 auto;
    width: 480px;
}

.button {
    justify-content: center;
}

.button[type="reset"] {
    color: coral;
}

input.name {
    font-size: 35px;
    color: coral;
}

input.link {
    color: darkcyan;
}
